body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  color: #ffffff;
  background: #121212; 
}

.header{
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem; 
  word-spacing: -3px;
  font-weight: bold;
}


.footer {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem; 
  word-spacing: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-link {
  color: #ffffff; 
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline; 
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background: #121212; 
  color: #ffffff;
  font-size: 2rem; 
  line-height:1;
  padding: 1rem;
  
}


.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #004691;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  line-height:1;
  border: 2px solid #ffffff;
}

.btn:hover {
  background: #0056b3; 
  color: #e0e0e0; 
}

.btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-icon {
  width: 30px; 
  height: 30px; 
  margin-right: 0.5rem;
}


.about {
  padding: 2rem;
  color: #e0e0e0; 
  font-size: 1.5rem; 
}

.about-me {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center; /* Center the text horizontally */
}

.about-content {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  gap: 3rem;
  line-height: 1.6;
}

.profile-image {
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid #009dff;
  padding: 5px;
}

.about-text {
  max-width: 600px;
  text-align: center; 
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column; 
    text-align: center; 
  }

  .profile-image {
    margin-bottom: 2rem; 
  }
}

.listleft{
  text-align: left; 
  line-height: 2;
}